@use "reset";
$first_font: "Fraunces", serif;
$second_font: "Montserrat", sans-serif;
$color_DarkCyan: hsl(158, 36%, 37%);
$color_Cream: hsl(30, 38%, 92%);
$color_VeryDarkBlue: hsl(212, 21%, 14%);
$color_DarkGrayishBlue: hsl(228, 12%, 48%);
$color_White: hsl(0, 0%, 100%);
body {
  background-color: $color_Cream;
  display: flex;
  height: 100vh;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 0 auto;
  font-size: 14px;
  border-radius: 10px;
  overflow: hidden;
  @media (min-width: 600px) {
    flex-direction: row;
    width: 530px;
  }
  img {
    max-width: 100%;
    @media (min-width: 600px) {
      content: url("images/image-product-desktop.jpg");
      max-width: 50%;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $color_White;
    p {
      margin-bottom: 5px;
    }
  }
}
.first_font {
  font-family: $first_font;
  font-weight: 700;
  color: $color_VeryDarkBlue;
  font-size: 31px;
}
.second_font500 {
  font-family: $second_font;
  font-weight: 500;
  color: $color_DarkGrayishBlue;
}
.container_price {
  display: flex;
  align-items: center;
  margin: 10px 0;
  .price {
    color: $color_DarkCyan;
  }
  .oldprice {
    font-family: $second_font;
    font-weight: 500;
    color: $color_DarkGrayishBlue;
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 20px;
  }
}
.btn {
  color: $color_White;
  background-color: $color_DarkCyan;
  border: none;
  border-radius: 7px;
  height: 43px;
  &:hover {
    cursor: pointer;
    background-color: rgb(0, 44, 0);
  }
}
